#It is probably best to add the names of executables here too
#beginners *love* to add executables to a git repo

picfilter
a.out
/test_output/*

# no image files in git this week
*.ppm
!test_data/*.ppm
*.jpg
*.png

#See templates at https://github.com/github/gitignore

#C/C++ library and object files
*.o
*.a
*.so

# MAC, vim, emacs goofiness
.DS_STORE
.DS_STORE?
*~
*#
.#*
.nfs*
.*.sw?

#More editor temp files
._*
.vscode

